:not(i) {
    font-family:  "Source Sans Pro", Calibri, Candara, 'Microsoft Yahei', Arial, sans-serif !important;
}

body {
    background-color: aliceblue;
}

.sce-header-player {
    padding-right: 0px;
    width: 100%;
}

@media(min-width: 768px) {
    .sce-header-player {
        padding-right: 10px;
        width: inherit;
    }
}

.sce-author {
    text-align: right;
}

.sce-fixed-btn {
    position: fixed;
    right: 1%;
    bottom: 2%;
    font-size: 24px;
    width: 40px;
    background-color: rgba(35, 51, 51, 0.5);
    text-align: center;
}

.sce-fixed-btn a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #eeeeee;
}

.sce-fixed-btn a i {
    vertical-align: middle;
}

.sce-btn-with-border {
    border-bottom: 1px solid #eeeeee;
}
