body {
    background-color: aliceblue;
}

body, h1, h2, h3, h4, h5 {
    font-family: "Source Sans Pro", Calibri, Candara, 'Microsoft Yahei', Arial, sans-serif;
}

.sce-header-player {
    padding-right: 0px;
    width: 100%;
}

@media(min-width: 768px) {
    .sce-header-player {
        padding-right: 10px;
        width: inherit;
    }

/*    .modal-dialog {
        width: 95%;
        margin: 30px auto;
        height: 90%;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
    }*/
}

.sce-author {
    text-align: right;
}

#sce-fixed-btn {
    position: fixed;
    right: 1%;
    bottom: 2%;
    font-size: 24px;
    width: 40px;
    background-color: rgba(35, 51, 51, 0.5);
    text-align: center;
}

#sce-fixed-btn a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #eeeeee;
}

#sce-fixed-btn a i {
    vertical-align: middle;
}

.sce-btn-with-border {
    border-bottom: 1px solid #eeeeee;
}

/* modals */

/*.modal .modal-content .row {
    margin-bottom: 10px;
}

.modal .modal-content .row:last-child {
    margin-bottom: 0;
}
*/
/* end modals */