<div class="row" style="margin-bottom: 25px;">
  <div class="col-lg-12">
    <h3>
      <a href="#"><span class="fa fa-arrow-left" style="margin-right: 5px;"></span>Back</a>
    </h3>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-12">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="最多输入50个字符">
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-12">
    <label>Type</label>
    <div class="btn-group btn-group-justified">
      <button type="button" class="btn btn-warning" style="width: auto;">Tech</button>
      <button type="button" class="btn btn-info" style="width: auto;">Games</button>
      <button type="button" class="btn btn-default" style="width: auto;">News</button>
      <button type="button" class="btn btn-primary" style="width: auto;">Essay</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <label>Content</label>
    <div style="height: 400px;" ng-model="currentArticle.content" contenteditable="true"></div>
  </div>
</div>