<div class="row" style="margin-top: 70px; margin-bottom: 25px;">
  <div class="col-lg-12">
    <a href="javascript:void(0)" style="font-size: 24px;"><span class="fa fa-arrow-left" style="margin-right: 5px;"></span>Back</a>

    <button class="btn btn-primary pull-right" ng-click="submitArticle()">Submit</button>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-12">
    <label>Title</label>
    <input id="article-title-edit" type="text" class="form-control" ng-model="currentArticle.title" placeholder="最多输入50个字符">
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-12">
    <label>Type</label>
    <div class="btn-group btn-group-justified">
      <div id="article-type-selector" class="btn-primary" style="z-index: 1000; position: absolute; width: 25%; height: 100%; border-radius: 4px; opacity: 0.3;"></div>
      <button type="button" class="btn btn-default" style="width: 25%; border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0;" ng-click="articleTypeSelectionChange(0)">Tech blogs</button>
      <button type="button" class="btn btn-default" style="width: 25%;" ng-click="articleTypeSelectionChange(1)">Games</button>
      <button type="button" class="btn btn-default" style="width: 25%;" ng-click="articleTypeSelectionChange(2)">News</button>
      <button type="button" class="btn btn-default" style="width: 25%;" ng-click="articleTypeSelectionChange(3)">Informal essay</button>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-12">
    <label>Info</label>
    <textarea class="form-control" ng-model="currentArticle.info" style="resize: none; height: 200px;" placeholder="最多输入200个字符"></textarea>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <label>Content</label>
    <div style="height: 400px;" ng-model="currentArticle.content" contenteditable="true"></div>
  </div>
</div>