<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">O-O</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Catagories <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Technical blogs</a></li>
                <!--li class="divider"></li-->
                <li><a href="#">Beatmap evaluation</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span><i class="fa fa-music"></i></span>&nbsp;Music <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <!-- 335342050-type4 131222915-type0  -->
                <li><iframe class="sce-header-player" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450 src="http://music.163.com/outchain/player?type=4&id=335342050&auto=0&height=430"></iframe></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>